name: AptCI

on: [push,workflow_dispatch]

jobs:
  build:
   runs-on: ubuntu-24.04

   steps:
   - name: Install sudo
     run: |
        if [ "${{ env.ACT }}" = "true" ]; then
           apt-get update
           apt-get install -y sudo
        fi

   - name: Install wget
     run: |
        sudo apt-get update
        sudo apt-get install -y wget

   - name: Set MULLE_HOSTNAME
     run: |
       name="${GITHUB_REF##*/}"
       MULLE_HOSTNAME="${MULLE_HOSTNAME:-ci-${name##*-}}"
       echo "MULLE_HOSTNAME=${MULLE_HOSTNAME}" >> $GITHUB_ENV

   - name: Dump Environment
     run:  env | sort

   - name: Install prerelease
     if: ${{ env.MULLE_HOSTNAME == 'ci-prerelease' }}
     run: |
        wget -qO - https://raw.githubusercontent.com/MulleFoundation/foundation-developer/refs/heads/prerelease/bin/apt-installer | sudo sh

   - name: Install release
     if: ${{ env.MULLE_HOSTNAME != 'ci-prerelease' }}
     run: |
        wget -qO - https://raw.githubusercontent.com/MulleFoundation/foundation-developer/refs/heads/${{ github.ref_name }}/bin/apt-installer | sudo sh
